<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-gmv-barcode-scanner" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-gmv-barcode-scanner</name>
    <js-module name="cordova-gmv-barcode-scanner" src="www/main.js">
        <clobbers target="cordova.plugins.gmv-barcode-scanner"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="cordova-gmv-barcode-scanner">
                <param name="ios-package" value="CDViOSScanner"/>
            </feature>
        </config-file>
        <framework src="Foundation.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="UIKit.framework"/>
        <framework spec="~&gt; 1.1" src="GoogleMobileVision/BarcodeDetector" type="podspec"/>
        <header-file src="src/ios/CDViOSScanner.h"/>
        <source-file src="src/ios/CDViOSScanner.m"/>
        <header-file src="src/ios/CameraViewController.h"/>
        <source-file src="src/ios/CameraViewController.m"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="cordova-gmv-barcode-scanner">
                <param name="android-package" value="com.dealrcloud.gmvScanner.CDVAndroidScanner"/>
            </feature>
        </config-file>

        <config-file parent="/*" target="config.xml">
            <preference name="android-manifest/application/@android:theme" value="@style/Theme.AppCompat" />
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-feature android:name="android.hardware.camera" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file parent="application" target="AndroidManifest.xml">
            <meta-data
                    android:name="com.google.android.gms.version"
                    android:value="@integer/google_play_services_version" />
            <meta-data
                    android:name="com.google.android.gms.vision.DEPENDENCIES"
                    android:value="barcode" />

            <activity android:label="@string/title_activity_main" android:name="com.dealrcloud.gmvScanner.SecondaryActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
            <activity android:label="Read Barcode" android:name="com.dealrcloud.gmvScanner.BarcodeCaptureActivity" />

        </config-file>

        <config-file target="res/values/strings.xml" parent="/*">
            <string name="ok">OK</string>
            <string name="permission_camera_rationale">Access to the camera is needed for detection</string>
            <string name="no_camera_permission">This application cannot run because it does not have the camera permission.  The application will now exit.</string>
            <string name="low_storage_error">Face detector dependencies cannot be downloaded due to low device storage</string>
            <string name="title_activity_main">Barcode Reader Sample</string>
            <string name="barcode_header">Click &quot;Read Barcode&quot; to read a barcode</string>
            <string name="read_barcode">Read Barcode</string>
            <string name="auto_focus">Auto Focus</string>
            <string name="use_flash">Use Flash</string>
            <string name="barcode_success">Barcode read successfully</string>
            <string name="barcode_failure">No barcode captured</string>
            <string name="barcode_error">"Error reading barcode: %1$s"</string>
        </config-file>

        <source-file src="src/android/src"
                     target-dir="src/com/dealrcloud/gmvScanner"/>

        <resource-file src="src/android/res/layout"
                       target="res/layout"/>
        <resource-file src="src/android/res/drawable"
                       target="res/drawable"/>

        <framework src="com.android.support:support-v4:24.2.0" />
        <framework src="com.google.android.gms:play-services-vision:9.4.0+" />
        <framework src="com.android.support:design:24.2.0" />

        <source-file src="src/android/build-extras.gradle" target-dir="../android" />
    </platform>
    <dependency id="cordova-custom-config" url="https://github.com/dpa99c/cordova-custom-config.git"  />
</plugin>