<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-gmv-barcode-scanner" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-gmv-barcode-scanner</name>
    <js-module name="cordova-gmv-barcode-scanner" src="www/main.js">
        <clobbers target="cordova.plugins.gmv-barcode-scanner" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="cordova-gmv-barcode-scanner">
                <param name="ios-package" value="CDViOSScanner" />
            </feature>
        </config-file>

        <framework src="Foundation.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="UIKit.framework" />
        <framework src="GoogleMobileVision/BarcodeDetector" type="podspec" spec="~> 1.1" />

        <header-file src="src/ios/CDViOSScanner.h" />
        <source-file src="src/ios/CDViOSScanner.m" />

        <header-file src="src/ios/CameraViewController.h" />
        <source-file src="src/ios/CameraViewController.m" />

    </platform>
</plugin>