<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-barcode-detector" version="1.5.4"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-barcode-detector</name>
    <js-module name="cordova-plugin-barcode-detector" src="www/main.js">
        <clobbers target="cordova.plugins.GMVBarcodeScanner"/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=6.3.0"/>
        <engine name="cordova-ios" version=">=4.5.0"/>
    </engines>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="cordova-plugin-barcode-detector">
                <param name="ios-package" value="CDViOSScanner"/>
            </feature>
        </config-file>
        <framework src="Foundation.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="CoreMedia.framework"/>
        <framework src="CoreVideo.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="CoreImage.framework"/>
        <framework src="Accelerate.framework"/>
        <framework src="LocalAuthentication.framework"/>
        <framework src="libc++.tbd"/>
        <framework src="libz.tbd"/>
        <framework src="libstdc++.tbd"/>
        <framework src="libsqlite3.tbd"/>
        <framework src="frameworks/BarcodeDetector.framework" custom="true"/>
        <framework src="frameworks/GoogleMobileVision.framework" custom="true"/>
        <framework src="frameworks/GoogleMVDataOutput.framework" custom="true"/>
        <framework src="frameworks/GoogleToolboxForMac.framework" custom="true"/>
        <framework src="frameworks/GTMSessionFetcher.framework" custom="true"/>
        <framework src="frameworks/Protobuf.framework" custom="true"/>
        <header-file src="src/ios/CDViOSScanner.h"/>
        <source-file src="src/ios/CDViOSScanner.m"/>
        <header-file src="src/ios/CameraViewController.h"/>
        <source-file src="src/ios/CameraViewController.m"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="cordova-plugin-barcode-detector">
                <param name="android-package" value="com.dealrinc.gmvScanner.CDVAndroidScanner"/>
            </feature>
        </config-file>

        <config-file parent="/*" target="app/src/main/AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file parent="application" target="app/src/main/AndroidManifest.xml">
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
            <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode" />
            <activity android:label="Read Barcode" android:name="com.dealrinc.gmvScanner.BarcodeCaptureActivity" android:theme="@style/Theme.AppCompat.Light"/>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file parent="application" target="AndroidManifest.xml">
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
            <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode" />
            <activity android:label="Read Barcode" android:name="com.dealrinc.gmvScanner.BarcodeCaptureActivity" android:theme="@style/Theme.AppCompat.Light"/>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/*">
            <string name="ok">OK</string>
            <string name="permission_camera_rationale">Access to the camera is needed for detection</string>
            <string name="no_camera_permission">This application cannot run because it does not have the camera permission.  The application will now exit.</string>
            <string name="low_storage_error">Face detector dependencies cannot be downloaded due to low device storage</string>
            <string name="title_activity_main">Barcode Reader Activity</string>
            <string name="barcode_header">Click &quot;Read Barcode&quot; to read a barcode</string>
            <string name="read_barcode">Read Barcode</string>
            <string name="auto_focus">Auto Focus</string>
            <string name="use_flash">Use Flash</string>
            <string name="barcode_success">Barcode read successfully</string>
            <string name="barcode_failure">No barcode captured</string>
            <string name="barcode_error">"Error reading barcode: %1$s"</string>
        </config-file>

        <source-file src="src/android/src/gmvScanner/BarcodeCaptureActivity.java" target-dir="src/com/dealrinc/gmvScanner"/>
        <source-file src="src/android/src/gmvScanner/BarcodeGraphic.java" target-dir="src/com/dealrinc/gmvScanner"/>
        <source-file src="src/android/src/gmvScanner/BarcodeGraphicTracker.java" target-dir="src/com/dealrinc/gmvScanner"/>
        <source-file src="src/android/src/gmvScanner/BarcodeTrackerFactory.java" target-dir="src/com/dealrinc/gmvScanner"/>
        <source-file src="src/android/src/gmvScanner/CDVAndroidScanner.java" target-dir="src/com/dealrinc/gmvScanner"/>

        <source-file src="src/android/src/gmvScanner/ui/camera/CameraSource.java" target-dir="src/com/dealrinc/gmvScanner/ui/camera"/>
        <source-file src="src/android/src/gmvScanner/ui/camera/CameraSourcePreview.java" target-dir="src/com/dealrinc/gmvScanner/ui/camera"/>
        <source-file src="src/android/src/gmvScanner/ui/camera/GraphicOverlay.java" target-dir="src/com/dealrinc/gmvScanner/ui/camera"/>

        <resource-file src="src/android/res/layout/barcode_capture.xml" target="res/layout/barcode_capture.xml"/>

        <resource-file src="src/android/res/drawable/flashlight.png" target="res/drawable/flashlight.png"/>
        <resource-file src="src/android/res/drawable/rounded_rectangle.xml" target="res/drawable/rounded_rectangle.xml"/>
        <resource-file src="src/android/res/drawable/torch_active.xml" target="res/drawable/torch_active.xml"/>
        <resource-file src="src/android/res/drawable/torch_inactive.xml" target="res/drawable/torch_inactive.xml"/>


        <framework src="com.android.support:support-v4:27.1.0" />
        <framework src="com.google.android.gms:play-services-vision:17.0.2" />
        <framework src="com.android.support:design:27.1.0" />

        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference"/>
    </platform>
</plugin>
